* {
  line-height: 1.2;
  margin: 0;
}

.html1 {
  color: #6b6b6b;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

.body1 {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}

.hn {
  color: #555;
  font-size: 2em;
  font-weight: 400;
}

.p1 {
  margin: 0 auto;
  width: 280px;
}

@media only screen and (max-width: 280px) {

  .body1,
  .p1 {
    width: 95%;
  }

  .hn {
    font-size: 1.5em;
    margin: 0 0 0.3em;
  }

}
