body {
  margin: 0; padding: 0; /* annulation des marges */
  overflow: hidden; /* on cache le débordement de contenu */
  color: #fff;
  background: #ead2cb ;
}

#wrap {
  /* position du conteneur pour le préparer à bouger */
  position: relative;
  top: 0;
  /* on prépare la transition à venir */
  transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}

#nav {
  width: 100%;
  position: fixed;
  top:50px;
}
#nav li {
  /* on aligne les éléments de liste */
  display: inline;
  margin:0;
}
#nav a {
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}

#nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  bottom:0%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

#nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}


/* slides */
#slide1, #slide2, #slide3 {
  /* height à adapter avec media queries */
  height: 1000px;
  padding-top:100px;
  /* préparation des transitions */
  transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}
/* attribution des images de fond */
#slide1 { background:url(https://cdn.discordapp.com/attachments/337935730045222923/677521172597833728/img.png) center 0 no-repeat fixed;background-size: cover;  }


/* Contenus des slides */
.slide_inside {
  width: 770px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(0, 0, 0, .6);
  padding: 50px;

}

#slide1 .slide_inside {
  text-align: center;
  background-color: transparent;
}
#slide2 .slide_inside p {
  width: 500px;
  text-align: justify;
}
#slide3 .slide_inside {
  margin-top: 50px;
}

/* positionnement des images animés */
#madera, #maison {
  position: absolute;
  left:300px; top: -180px;
  /* on tourne légèrement les images */
  transform: rotate(10deg);
  /* et on prévoit une transition */
  transition: all 1.4s cubic-bezier(.49,.22,.52,1);
}

/* positionnement différé du logo */
#maison {
  left: -280px;
  top: 400px;
}

#maison:hover{
  transform: rotate(-185deg);
  right: 50%;
}

/* décalage du conteneur vers le haut */
#s2:target ~ #wrap {
  top:-1000px;
}

/* décalage des fonds de chaques slide */
#s2:target ~ #wrap #slide1 { background-position: 50% 36%; }


/* mouvements d'une des images */
#s2:target ~ #wrap #madera {
  left: -180px;
  top: -100px;
  transform: rotate(-7deg);
}

/* mouvements de l'autre image */
#s2:target ~ #wrap #maison {
  left: -350px;
  top: 50px;
  transform: rotate(0deg);
}

/* juste pour la déco (lueur sur le lien cliqué) */
#s2:target ~ #wrap #nav li:first-child + li a {
  text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603;
}

/* vers Slide 1 */
#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #nav li:first-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s1:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrap #slide2 { background-position: 50% -35%; }
#s1:target ~ #wrap #slide3 { background-position: 50% -60%; }
#s1:target ~ #wrap #madera { left: -180px; top: 300px; transform: rotate(10deg); }
#s1:target ~ #wrap #maison { left: -280px; top: 300px; transform: rotate(10deg); }

/* vers Slide 3 */
#s3:target ~ #wrap { top:-2150px; }
#s3:target ~ #wrap #nav li:last-child a { text-shadow: 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603, 0 0 5px #eca603; }
#s3:target ~ #wrap #slide1 { background-position: 50% 60%; }
#s3:target ~ #wrap #slide2 { background-position: 50% 35%; }
#s3:target ~ #wrap #slide3 { background-position: 50% 0%; }
#s3:target ~ #wrap #madera { left:-1500px;top:-1000px; transform: rotate(-15deg); }
#s3:target ~ #wrap #maison { left:-1000px;top: -800px; transform: rotate(-15deg); }
