/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    overflow-y: hidden;
}

body {
    font-family: sans-serif;
    background-color: #f7f2f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    display: block;
    color: #111111;
    letter-spacing: 1px;
}

/* GRID STYLES */
/* BRAND WRAPPER*/

.brand-wrapper {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(4, 300px);
    background-color: #f3f3ec;
    justify-items: center;
    align-items: center;
}

/* TOP BAR WRAPPER */

.top-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr 640px 1fr;
    align-items: center;
    justify-items: center;
    height: 50px;
    background-color: #53575c;
    box-shadow: 2px 2px 1px rgba(46, 46, 46, 0.6);
    position: relative;
    z-index: 2;
}

.logo img {
    height: 40px;
    display: block;
    margin: auto;
}

/*  MENU BAR  */

.menu-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 640px;
    height:50px;
    margin: auto;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}
.menu-bar li {
    height: 50px;
    padding-top: 10px;
}

.menu-bar li a {
    color: #e2e1f0;
}

