<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=500, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/carousel" media="all"/>
</head>
<body>

<div class="slideshow-container div1" id="content">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="https://cdn.discordapp.com/attachments/337935730045222923/676766439809482762/Parco-giochi-rainbow-magicland-valmontone-700x400.png" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img src="https://cdn.discordapp.com/attachments/337935730045222923/676766474559291392/GAIA-at-Horticulture-Center-700x400.png" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>

</div>
<script src="js/carousel.js"></script>
</body>
</html>
